 #navbar {
     position: relative;
     z-index: 500;
     background: #fff;
     border-bottom: solid 1px #e8e8e8;
     nav {
         padding-top: 0;
         padding-bottom: 0;
         ul.navbar-nav {
             margin:0 auto;
             li {
                 a {
                     color: #2c2c2c;
                     font-size: 13px;
                     font-weight: 600;
                     letter-spacing: 1px;
                     text-transform: uppercase;
                     padding: 17px 40px;
                 }
                 a:hover{
                     background-color: #eee;
                 }
             }
              
         }
     }
 }

 #work{
    position: relative;
    z-index: 500;
    background: #fff;
    header{
        text-align: center;
        margin-bottom: 150px;
    }
 }